<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estado de Salud</title>
    <link rel="shortcut icon" href="./../../src/img/eduardo_img/favicon.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<h2>Test de Resistencia (VO2)</h2>
<p>El VO2 max, o consumo máximo de oxígeno, es el volumen máximo de oxígeno que el organismo es capaz de metabolizar por
    unidad de tiempo.
    El Test de Cooper es una prueba de resistencia (no un entrenamiento)
    que fue diseñada para recorrer la mayor distancia posible en un periodo de 12 minutos y a una velocidad constante.
</p><br>
<div style="text-align: center;">

    <img width="500" src="../../src/img/eduardo_img/cooper.jpg" alt="">
</div>

<body>
    <a href="./test.html">
        <button type="button" class="btn btn-primary btn-lg btn-block">Iniciar Test</button>
    </a>
</body>

</html>