<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Estado Salud</title>

    <link rel="shortcut icon" href="./../../src/img/eduardo_img/favicon.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<a href="../../index.html">
    <button type="button" class="btn btn-success">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z">
            </path>
            <path fill-rule="evenodd"
                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z">
            </path>
        </svg>
        Ir al Menú
    </button>
</a>


<body>
    <H1>Test de Resistencia (Vo2Max) Test de Cooper</H1>
    <form novalidate>
        <div class="col-md-6">
            <label for="formGroupExampleInput">Nombre del Paciente:</label>
            <input type="name" class="form-control" id="name" placeholder="Ejm : Eduardo" value="Eduardo" required>
        </div>
        <div class="col-md-6">
            <label for="formGroupExampleInput">Kilometros recorridos en 12 min:</label>
            <input type="number" class="form-control" id="km" placeholder="Ejm : 2 km" value="2" required>
        </div><br>
        <button type="button" class="btn btn-primary" onclick="testresistencia('name','km')">Evaluar</button>
        <button type="button" class="btn btn-secondary" onclick="limpiarAll()">Nuevo</button>

    </form>

    <h4>Respuesta :</h4>
    <tr>
        <td>
            <h5 id="result"></h5>
        </td>
    </tr>

</body>
<script src="./testresistencia.js"></script>

<!-- PARA EL USO DE ALERT -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</html>