<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANSIEDAD</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" href="./ansiedad-home.css">
</head>

<body>
    <header>
        <nav class="navbar" style="background-color: purple;">
            <div class="container-fluid">
                <a href="../../index.html">
                    <img src="../../src/img/jhon_img/heartbeat.png" alt="Logo" width="30" height="24" class="">
                </a>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div class="textos">
                <h1>Ansiedad</h1>

            </div>
        </section>

        <section class="portafolio">
            <div class="contenedor">
                <section class="galeria">
                    <span class="titulo-img">¿Que es? </span>
                    <div class="fotos">
                        <div style="display: flex; flex-direction: row-reverse;">
                            <div class="texto-img">
                                <span>La ansiedad es un sentimiento de miedo, temor e inquietud. Puede hacer que sude,
                                    se sienta inquieto y tenso, y tener palpitaciones. Puede ser una reacción normal al
                                    estrés. Por ejemplo, puede sentirse ansioso cuando se enfrenta a un problema difícil
                                    en el trabajo, antes de tomar un examen o antes de tomar una decisión importante.
                                </span>
                            </div>
                            <img src="../../src/img/jhon_img/ansia.jpg">
                        </div>

                    </div>
                    <span class="titulo-img">¿Cuáles son los síntomas de los trastornos de ansiedad?</span>
                    <div class="fotos">
                        <div style="display: flex; flex-direction: row-reverse;">
                            <img src="../../src/img/jhon_img/img2.jpg">
                            <div class="texto-img">

                                <span>Los diferentes tipos de trastornos de ansiedad pueden tener síntomas diferentes.
                                    Pero todos muestran una combinación de:</span>
                                <ul>
                                    <li>Pensamientos o creencias ansiosos difíciles de controlar: Le hacen sentir
                                        inquieto y tenso e interfieren con su vida diaria. No desaparecen y pueden
                                        empeorar con el tiempo</li>
                                    <li>Síntomas físicos, como latidos cardíacos fuertes o rápidos, dolores y molestias
                                        inexplicables, mareos y falta de aire</li>
                                    <li>Cambios en el comportamiento, como evitar las actividades cotidianas que solía
                                        hacer</li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <span class="titulo-img">¿Quién está en riesgo de tener trastornos de ansiedad?</span>
                    <div class="fotos">
                        <div style="display: flex; flex-direction: row-reverse;">
                            <div class="texto-img">
                                <span>Los factores de riesgo para los diferentes tipos de trastornos de ansiedad pueden
                                    variar. Existen algunos factores de riesgo generales para todos los tipos de
                                    trastornos de ansiedad, incluyendo:</span>
                                <ul>
                                    <li> Ciertos rasgos de personalidad, como ser tímido o retraído cuando está en
                                        situaciones nuevas o conoce personas nuevas</li>
                                    <li> Eventos traumáticos en la primera infancia o la edad adulta</li>
                                    <li> Antecedentes familiares de ansiedad u otros trastornos mentales</li>
                                    <li> Algunas afecciones de salud física, como problemas de tiroides o arritmia</li>
                                </ul>
                            </div>
                            <img src="../../src/img/jhon_img/img3.png">
                        </div>
                    </div>
                </section>
            </div>
        </section>

        <br>
        <a id="btnTest" href="./test.html">
            <input class="btn btn-primary" type="button" value="Iniciar Test">
        </a>

    </main>
    <footer>

    </footer>
</body>

</html>