<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANSIEDAD</title>
</head>

<body>
    <h1>ANSIEDAD</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt commodi vitae ipsam sed ab temporibus illum
        est provident nihil, voluptatibus facere modi expedita itaque deleniti quos, nam ratione molestiae iure!</p>

    <p>IMAGE</p>
    <br>
    <table border="1" align="center">
        <tr>
            <td>
                <a href="./ansiedad-test.html">
                    <input type="button" value="Iniciar Test">
                </a>

            </td>
        </tr>
    </table>
</body>

</html>