<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test ansiedad</title>
</head>
<a href="../../index.html">
    <input type="button" value="Menú">
</a>

<body>
    <h2>T E S T</h2>
    <hr>
    <div>
        <p>Sensación de angustia o aprensión. </p>
        <label><input type="radio" name="p1" id="p11" value="0"> Nunca</label>
        <label><input type="radio" name="p1" id="p12" value="1"> En alguna ocasión.</label>
        <label><input type="radio" name="p1" id="p13" value="2"> A menudo</label>
        <label><input type="radio" name="p1" id="p14" value="3"> Casi todos los dias</label>

        <p>Dificultad para estar quieto, intranquilidad.</p>
        <label><input type="radio" name="p2" id="p21" value="0"> Nunca</label>
        <label><input type="radio" name="p2" id="p22" value="1"> En alguna ocasión.</label>
        <label><input type="radio" name="p2" id="p23" value="2"> A menudo</label>
        <label><input type="radio" name="p2" id="p24" value="3"> Casi todos los dias</label>

        <p>Aumento de la frecuencia cardiaca (palpitaciones) sin enfermedad conocida que la justifique.</p>
        <label><input type="radio" name="p3" id="p31" value="0"> Nunca</label>
        <label><input type="radio" name="p3" id="p32" value="1"> En alguna ocasión.</label>
        <label><input type="radio" name="p3" id="p33" value="2"> A menudo</label>
        <label><input type="radio" name="p3" id="p34" value="3"> Casi todos los dias</label>

        <p>Fatiga, especialmente importante al final del día. </p>
        <label><input type="radio" name="p4" id="p41" value="0"> Nunca</label>
        <label><input type="radio" name="p4" id="p42" value="1"> En alguna ocasión.</label>
        <label><input type="radio" name="p4" id="p43" value="2"> A menudo</label>
        <label><input type="radio" name="p4" id="p44" value="3"> Casi todos los dias</label>

        <p>Alteraciones en el sueño; tardas en quedarte dormido, te despiertas varias veces o despiertas antes de lo
            previsto.</p>
        <label><input type="radio" name="p5" id="p51" value="0"> Nunca</label>
        <label><input type="radio" name="p5" id="p52" value="1"> En alguna ocasión.</label>
        <label><input type="radio" name="p5" id="p53" value="2"> A menudo</label>
        <label><input type="radio" name="p5" id="p54" value="3"> Casi todos los dias</label>

        <p>Sensación de tensión muscular que puede ir acompañada de dolor en determinadas partes de tu cuerpo (cuello,
            espalda, cabeza, etcétera).</p>
        <label><input type="radio" name="p6" id="p61" value="0"> Nunca</label>
        <label><input type="radio" name="p6" id="p62" value="1"> En alguna ocasión.</label>
        <label><input type="radio" name="p6" id="p63" value="2"> A menudo</label>
        <label><input type="radio" name="p6" id="p64" value="3"> Casi todos los dias</label>

        <!---------------------------------------SECCION2----------------------->
        <p>Dificultad para concentrarte. </p>
        <label><input type="radio" name="p7" id="p71" value="0"> Nunca</label>
        <label><input type="radio" name="p7" id="p72" value="1"> En alguna ocasión.</label>
        <label><input type="radio" name="p7" id="p73" value="2"> A menudo</label>
        <label><input type="radio" name="p7" id="p74" value="3"> Casi todos los dias</label>

        <p>Sensación de bloqueo mental. </p>
        <label><input type="radio" name="p8" id="p81" value="0"> Nunca</label>
        <label><input type="radio" name="p8" id="p82" value="1"> En alguna ocasión.</label>
        <label><input type="radio" name="p8" id="p83" value="2"> A menudo</label>
        <label><input type="radio" name="p8" id="p84" value="3"> Casi todos los dias</label>

        <p>Anticipación de acontecimientos negativos. Castastrofismo. </p>
        <label><input type="radio" name="p9" id="p91" value="0"> Nunca</label>
        <label><input type="radio" name="p9" id="p92" value="1"> En alguna ocasión.</label>
        <label><input type="radio" name="p9" id="p93" value="2"> A menudo</label>
        <label><input type="radio" name="p9" id="p94" value="3"> Casi todos los dias</label>

        <p> Falta de memoria (dificultad para recordar cosas). </p>
        <label><input type="radio" name="p10" id="p111" value="0"> Nunca</label>
        <label><input type="radio" name="p10" id="p112" value="1"> En alguna ocasión.</label>
        <label><input type="radio" name="p10" id="p113" value="2"> A menudo</label>
        <label><input type="radio" name="p10" id="p114" value="3"> Casi todos los dias</label>

        <p>Pensamientos o imágenes desagradables. </p>
        <label><input type="radio" name="p11" id="p121" value="0"> Nunca</label>
        <label><input type="radio" name="p11" id="p122" value="1"> En alguna ocasión.</label>
        <label><input type="radio" name="p11" id="p123" value="2"> A menudo</label>
        <label><input type="radio" name="p11" id="p124" value="3"> Casi todos los dias</label>

        <p>Dificultad para tomar decisiones (por ejemplo “das vueltas a la cabeza” sin llegar a decidirte). </p>
        <label><input type="radio" name="p12" id="p131" value="0"> Nunca</label>
        <label><input type="radio" name="p12" id="p132" value="1"> En alguna ocasión.</label>
        <label><input type="radio" name="p12" id="p133" value="2"> A menudo</label>
        <label><input type="radio" name="p12" id="p134" value="3"> Casi todos los dias</label>

        <!--SECCION 3-->
        <p>Fumas, comes o bebes para calmar tu ansiedad. </p>
        <label><input type="radio" name="p13" id="p141" value="0"> Nunca</label>
        <label><input type="radio" name="p13" id="p142" value="1"> En alguna ocasión.</label>
        <label><input type="radio" name="p13" id="p143" value="2"> A menudo</label>
        <label><input type="radio" name="p13" id="p144" value="3"> Casi todos los dias</label>

        <p> Evitas o escapas de determinadas situaciones. </p>
        <label><input type="radio" name="p14" id="p151" value="0"> Nunca</label>
        <label><input type="radio" name="p14" id="p152" value="1"> En alguna ocasión.</label>
        <label><input type="radio" name="p14" id="p153" value="2"> A menudo</label>
        <label><input type="radio" name="p14" id="p154" value="3"> Casi todos los dias</label>

        <p> Haces movimientos repetitivos (tocarte el pelo, temblor de piernas). </p>
        <label><input type="radio" name="p15" id="p161" value="0"> Nunca</label>
        <label><input type="radio" name="p15" id="p162" value="1"> En alguna ocasión.</label>
        <label><input type="radio" name="p15" id="p163" value="2"> A menudo</label>
        <label><input type="radio" name="p15" id="p164" value="3"> Casi todos los dias</label>

        <p>Te mueves más de lo habitual. </p>
        <label><input type="radio" name="p16" id="p171" value="0"> Nunca</label>
        <label><input type="radio" name="p16" id="p172" value="1"> En alguna ocasión.</label>
        <label><input type="radio" name="p16" id="p173" value="2"> A menudo</label>
        <label><input type="radio" name="p16" id="p174" value="3"> Casi todos los dias</label>

        <p> Movimientos torpes (por ejemplo se te caen las cosas). </p>
        <label><input type="radio" name="p17" id="p181" value="0"> Nunca</label>
        <label><input type="radio" name="p17" id="p182" value="1"> En alguna ocasión.</label>
        <label><input type="radio" name="p17" id="p183" value="2"> A menudo</label>
        <label><input type="radio" name="p17" id="p184" value="3"> Casi todos los dias</label>

        <p> Llanto para aliviar tu malestar. </p>
        <label><input type="radio" name="p18" id="p191" value="0"> Nunca</label>
        <label><input type="radio" name="p18" id="p192" value="1"> En alguna ocasión.</label>
        <label><input type="radio" name="p18" id="p193" value="2"> A menudo</label>
        <label><input type="radio" name="p18" id="p194" value="3"> Casi todos los dias</label>

        <h2>Resultado</h2>
        <p id="result">rest</p>
        <button onclick="resultado()">Resultado</button>

    </div>


    <script src="ansiedad.js"></script>
</body>

</html>