<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUERZA ABDOMINAL</title>
</head>

<a href="../../index.html">
    <input type="button" value="Menú">
</a>

<body>
    <h2>FUERZA ABDOMINAL</h2>

    <p>✅ Este test evaluará el estado de fuerza muscular en el área del abdomen, en función a la cantidad de repeticiones y edad, para ello se requiere cumplir las siguientes indicaciones:</p>

    <ul>
        <li>Realizar la mayor cantidad de abdominales posibles en un minuto, manteniendo una buena ejecución. Recostado, con las manos cruzadas detrás de la cabeza, piernas flexionadas y separadas, elevar el tronco exhalando por la boca y bajar inspirando por la nariz. Mantener la cabeza alineada con la espalda para no hacer fuerza con el cuello. Elevarse hasta 45 grados únicamente.</li>
    </ul>

    <p>✅ Como resultados se clasificarán los siguientes estados:</p>

    <ul>
        <li>Malo</li>
        <li>Medio</li>
        <li>Bueno</li>
        <li>Excelente</li>
    </ul>

    <img src="\src\img\sebastian_img\fabdom.jpg" width="500">

    <table align="center">
        <tr>
            <td>
                <a href="./test.html">
                    <input type="button" value="INICIAR TEST">
                </a>
            </td>
        </tr>
    </table>
     
</body>
</html>