<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAR-TEAM</title>
</head>

<body>
    <h3>Menu de Pruebas de Sald Mental</h3>
    <table border="1" align="center">
        <tr>
            <td>
                <a href="#">
                    <input type="button" value="Depresion">
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#">
                    <input type="button" value="Personalidad">
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#">
                    <input type="button" value="Ansiedad">
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/view/IQ/index.html">
                    <input style="background-color: cyan;" type="button" value="Coeficiente Intelectual">
                </a>
            </td>
        </tr>
    </table>

</body>

</html>