<html>

<head>
    <title>Test Depresion</title>
    <style>
        * {
            color: #000000;
            transition: all 0.4s ease;
        }
    </style>
</head>

<body>
    <h2>T E S T</h2>
    <hr>

    <p>1. Mi estado de ánimo es</p>
    <label><input type="radio" name="p1" id="p11" value="0">Por lo general bastante positivo.</label>
    <label><input type="radio" name="p1" id="p12" value="2">Me causa un auténtico sufrimiento, pues me siento triste la
        mayor parte del día.
    </label>
    <label><input type="radio" name="p1" id="p13" value="1">Últimamente me siento algo triste o melancólico.</label>

    <p>2. Respecto a mis planes de futuro...</p>
    <label><input type="radio" name="p2" id="p21" value="2">No espero nada de ellos</label>
    <label><input type="radio" name="p2" id="p22" value="0">Intento ser cauto, pero los miro con optimismo.
    </label>
    <label><input type="radio" name="p2" id="p23" value="1">Me siento algo desanimado respecto a cómo me van a ir las
        cosas.</label>

    <p>3. Respecto a mis objetivos en la vida</p>
    <label><input type="radio" name="p3" id="p31" value="0">A pesar de que no hayan podido cumplirse todos me siento
        bastante satisfecho.
    </label>
    <label><input type="radio" name="p3" id="p32" value="1">Pocas cosas de las que he hecho han merecido la pena</label>
    <label><input type="radio" name="p3" id="p33" value="2"> Me siento un auténtico fracasado como persona.</label>

    <p>4. Mi día a día…</p>
    <label><input type="radio" name="p4" id="p41" value="0">Está lleno de anécdotas; unas buenas y otras malas.</label>
    <label><input type="radio" name="p4" id="p42" value="2">Me aburre muchísimo y nada me interesa.</label>
    <label><input type="radio" name="p4" id="p43" value="1">Últimamente despierta menos interés para mí.</label>

    <p>5. Cuando miro hacia atrás y pienso en las decisiones que he tomado o en todo lo que he hecho…</p>
    <label><input type="radio" name="p5" id="p51" value="0">No me arrepiento de cómo he actuado estos años. Si me he
        equivocado, ese error me valdrá para aprender.</label>
    <label><input type="radio" name="p5" id="p52" value="2">Me siento culpable por muchas cosas. No valgo nada.</label>
    <label><input type="radio" name="p5" id="p53" value="1">Estoy arrepentido de gran parte de las cosas que he
        hecho.</label>

    <p>6. Cuando me comparo con otras personas…</p>
    <label><input type="radio" name="p6" id="p61" value="0">A veces gano yo. Otras ganan ellos.</label>
    <label><input type="radio" name="p6" id="p62" value="1">Siempre salgo mal parado; la mayoría de la gente es mejor
        que
        yo.</label>
    <label><input type="radio" name="p6" id="p63" value="2">Me doy asco</label>

    <p>7. En las dos últimas semanas…</p>
    <label><input type="radio" name="p7" id="p71" value="2">He llorado prácticamente todos los días.</label>
    <label><input type="radio" name="p7" id="p72" value="1">Lloro mucho más que antes; casi la mitad de los
        días.</label>
    <label><input type="radio" name="p7" id="p73" value="0">No he llorado sin ningún motivo aparente.</label>

    <p>8. En lo que respecta a mis relaciones sociales…</p>
    <label><input type="radio" name="p8" id="p81" value="0">Mi interés hacia las mismas no ha sufrido ninguna
        variación.</label>
    <label><input type="radio" name="p8" id="p82" value="1">Me intereso por los demás pero menos que antes.</label>
    <label><input type="radio" name="p8" id="p83" value="2">He perdido el interés por relacionarme con la gente. No me
        apetece.
    </label>

    <p>9. En lo que respecta a mis hábitos de sueño…</p>
    <label><input type="radio" name="p9" id="p91" value="1">Me despierto antes o en mitad de la noche y me cuesta volver
        a dormirme.</label>
    <label><input type="radio" name="p9" id="p92" value="0">Duermo como siempre</label>
    <label><input type="radio" name="p9" id="p93" value="2">Duermo mucho más que antes o no pego ojo.</label>

    <p>10. Respecto a mi apetito...</p>
    <label><input type="radio" name="p10" id="p111" value="2">No me apetece comer nada o no paro de comer.</label>
    <label><input type="radio" name="p10" id="p112" value="1">Ha variado un poco; como más o no como a penas.</label>
    <label><input type="radio" name="p10" id="p113" value="0">Es igual que siempre.</label>

    <p>11. Respecto a mi capacidad de trabajo y energía…</p>
    <label><input type="radio" name="p11" id="p121" value="0">Las cosas me cunden como siempre; ni más ni menos.</label>
    <label><input type="radio" name="p11" id="p122" value="2">Estoy tan cansado que soy incapaz de hacer nada.</label>
    <label><input type="radio" name="p11" id="p123" value="1">Siento que mi rendimiento ha disminuido algo sin motivo
        aparente.</label>

    <p>12. Mis relaciones sexuales…</p>
    <label><input type="radio" name="p12" id="p131" value="2">Han desaparecido pues no tengo deseo sexual.</label>
    <label><input type="radio" name="p12" id="p132" value="0">No presentan variación alguna y si la presenta es porque
        ha
        existido algún cambio en la posibilidad de acceder a una pareja.
    </label>
    <label><input type="radio" name="p12" id="p133" value="1">Han disminuido de forma notable sin que hayan existido
        cambios (por ejemplo ausencia de pareja).
    </label>


    <h2>Resultado</h2>
    <p id="result">rest</p>
    <button onclick="resultado()">Resultado</button>

    <script src="depresion.js"></script>
</body>

</html>