<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estado de Salud</title>
    <link rel="shortcut icon" href="./../../src/img/eduardo_img/favicon.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<h2>Estado de Salud - Ruffier Dickson</h2>
<p>Una forma sencilla y rápida de calcular la capacidad de recuperación del
    corazón y la resistencia aeróbica es el test de Ruffier, que da la idea de tu forma
    física. La forma más precisa de hacerlo es con un pulsómetro, aunque te puedes
    hacer una idea tomando las pulsaciones en la arteria carótida (al lado de la nuez) o
    en la arteria radial (en la muñeca, en a base del pulgar), pero hay cierto error por el
    propio tiempo que tardas en contarlas</p><br>
<div style="text-align: center;">

    <img width="500" src="../../src/img/eduardo_img/test_salud.jpg" alt="">
</div>

<body>
    <a href="./test.html">
        <button type="button" class="btn btn-primary btn-lg btn-block">Iniciar Test</button>
    </a>
</body>

</html>