<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUERZA EN BRAZOS</title>
</head>

<a href="../../index.html">
    <input type="button" value="Menú">
</a>

<body>
    <h2>FUERZA EN BRAZOS</h2>

    <p>✅ Este test evaluará el estado de fuerza muscular en los brazos, en función a la cantidad de repeticiones y rango de edad, para ello se requiere cumplir las siguientes indicaciones:</p>

    <ul>
        <li>Realizar la mayor cantidad de flexiones de brazos posibles en un minuto, manteniendo una buena ejecución. Con el cuerpo alineado y los pies juntos, las manos separadas a ancho de hombros, bajar flexionando brazos e inspirando por nariz, y subir extendiendo brazos y exhalado por boca.</li>
    </ul>

    <p>✅ Como resultados se clasificarán los siguientes estados:</p>

    <ul>
        <li>Malo</li>
        <li>Medio</li>
        <li>Bueno</li>
        <li>Muy bueno</li>
        <li>Excelente</li>
    </ul>
    <img src="\src\img\sebastian_img\fbrazo.jpg" width="500">

    <table align="center">
        <tr>
            <td>
                <a href="./test.html">
                    <input type="button" value="INICIAR TEST">
                </a>
            </td>
        </tr>
    </table>
     
</body>
</html>