<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="./../../src/img/CAP.png">
    <link rel="stylesheet" href="estilos.css">
    <title>Adiccion al Internet </title>
</head>
<body>
    <h2 id="Titulo">Test de Adiccion al Internet</h2>

<br>

<div id="contenedor" style="text-align: center;">
    

    <img id="IMAGEN" width="700" src="../../src/img/CAP.png" alt="">
  
    
    <p id="Parrafo">Bienvenido al test de adicción a internet. Si deseas realizar el test de la adicción a Internet, Internet Addiction Diagnostic Questionnaire (IADQ), responde a las siguientes 8 preguntas marcando las respuestas correctas. La sinceridad con la que respondas determinará la validez de los resultados.
       
</div>



    <table  align="center">
        <tr>
            <td>
                <a href="./testo.html">
                    <input id="btn-test" class="btn btn-success" type="button" value="¡COMENZAR TEST!">
                </a>

            </td>
        </tr>
    </table>

</body>

</html>