<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fobiasocial</title>
</head>
<a href="../../index.html">
    <input type="button" value="Menú">
</a>

<body>
    <h2> Test: mide tu Adiccion al Internet   </h2>
    <h3>La un buen porcentaje de peruanos tiene dificultades ocasionales para dormir y en una de cada cinco personas el problema se cronifica. Descubre con el test denominado 'índice de severidad del insomnio' si tu falta de sueño es pasajera.
    </h3>
    <hr>
    <div>
        <p>1. ¿Sientes la necesidad de utilizar Internet en cantidades crecientes de tiempo con el fin de lograr la satisfacción? </p>
        <label><input type="radio" name="p1" id="p11" value="0"> No </label>
        <label><input type="radio" name="p1" id="p12" value="1">  Si </label>
        
        <p>2. ¿Has hecho repetidamente esfuerzos infructuosos para controlar, reducir o detener el uso de Internet?</p>
        <label><input type="radio" name="p2" id="p21" value="0"> No</label>
        <label><input type="radio" name="p2" id="p22" value="1"> Si</label>
        

        <p>3. ¿Te sientes preocupado por aspectos relacionados con Internet?</p>
        <label><input type="radio" name="p3" id="p31" value="0"> No</label>
        <label><input type="radio" name="p3" id="p32" value="1"> Si</label>
        
        <p>4.¿Te mantienes en línea más tiempo de lo previsto originariamente?
        </p>
        <label><input type="radio" name="p4" id="p41" value="0"> No</label>
        <label><input type="radio" name="p4" id="p42" value="1"> Si</label>
        


        <p>5.¿¿Te sientes inquieto, malhumorado, deprimido o irritable al tratar de reducir o detener el uso de Internet?
        </p>
        <label><input type="radio" name="p5" id="p51" value="0">  No </label>
        <label><input type="radio" name="p5" id="p52" value="1">  Si </label>
        

        <p>6.Has puesto en peligro o arriesgado la pérdida de una relación significativa, trabajo, oportunidad educativa o profesional debido a Internet?</p>
        <label><input type="radio" name="p6" id="p61" value="0"> No </label>
        <label><input type="radio" name="p6" id="p62" value="1"> Si </label>
        

        <!---------------------------------------SECCION2----------------------->
        <p>7.¿Utilizas Internet como una manera de escapar de los problemas o de aliviar un estado de ánimo disfórico? (por ejemplo, sentimientos de impotencia, culpa, ansiedad, depresión) </p>
        <label><input type="radio" name="p7" id="p71" value="0"> No </label>
        <label><input type="radio" name="p7" id="p72" value="1"> Si </label>

        <p>8. ¿Has mentido a los miembros de tu familia, terapeuta u otros para ocultar el grado de implicación con Internet? </p>
        <label><input type="radio" name="p8" id="p81" value="0"> No </label>
        <label><input type="radio" name="p8" id="p82" value="1"> Si </label>
        

        

        
        <h3>Si su puntuacion es entre  0 y 4  = se trata Adiccion puntual y no problemático.</h3>
        <h3>Entre 5 y 6 = Adccion clínico (moderado).</h3>   
        <h3>Entre 7 y 8 = Adiccion clínico (grave).</h3> 
    
        <h2>Resultado</h2>
       
        <p id="result">RESULTADO</p>
        <button onclick="resultado()">Resultado</button>

    </div>


    
</body>
<script src="./AdiccionalaWeb.js"></script>

</html>