<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAR-TEAM</title>
</head>

<body>
    <h3>Menú de Pruebas de Salud Física</h3>
    <table border="1" align="center">

        <tr>
            <td><a href="/view/EstadoSalud/index.html">
                <input type="button" value="Estado de Salud">
                </a>
            </td>
        </tr>
        <tr>
            <td><a href="/view/TestResistencia/index.html">
                <input type="button" value="Test de Resistencia">
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/view/Imc/index.html">
                <input type="button" value="Test de Indice de Masa Corporal">
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/view/Tmb/index.html">
                <input type="button" value="Test de Tasa metabolica basal">
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/view/FuerzaAbdom/index.html">
                <input type="button" value="Fuerza abdominal">
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/view/FuerzaBrazo/index.html">
                <input type="button" value="Fuerza en Brazos">
                </a>
            </td>
        </tr>

    </table>

</body>

</html>