<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <style>
        #inflar {
            transition: all 300ms;
        }

        #inflar:hover {
            transform: scale(1.05);
        }
    </style>
    <title>ÍNDICE DE MASA CORPORAL</title>
</head>

<a href="../../index.html">
    <input class="btn btn-success" type="button" value="MENÚ">
</a>
<a href="/view/MenuFisica/index.html">
    <input class="btn btn-success" type="button" value="ATRÁS">
</a>

<body>
    <div class="container-md">
        <div class="row">
            <div class="col">
                <br><br><br><br><br><br><br><br><br><br>
                <h1>ÍNDICE DE <strong>MASA CORPORAL</strong><br><span class="badge bg-success">IMC</span></h1>
                <br>
                <h5>✅ El IMC, que se obtiene de la relación entre el peso actual y la altura, es un valor que permite
                    realizar una evaluación del peso corporal, determinando su estado actual.</h5>
                <br>
                <h5>✅ Esta evaluación distinguirá los siguientes estados:</h5>
                <ul>
                    <li>BAJO PESO</li>
                    <li>PESO NORMAL</li>
                    <li>SOBREPESO</li>
                    <li>OBESIDAD</li>
                </ul>
            </div>
            <div align="center" class="col">
                <br><br><br><br><br><br><br>
                <img src="\src\img\sebastian_img\imc.png" width="500px">
            </div>
        </div>
    </div>

    <table align="center">
        <tr>
            <td>
                <a href="./test.html">
                    <input id="inflar" class="btn btn-success" type="button" value="INICIAR TEST">
                </a>
            </td>
        </tr>
    </table>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>

</html>