<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMC</title>
</head>

<a href="../../index.html">
    <input type="button" value="Menú">
</a>

<body>
    <h2>INDICE DE MASA CORPORAL (IMC)</h2>

    <p>✅ El IMC, que se obtiene de la relación entre el peso actual y la altura, es un valor que permite realizar una evaluación del peso corporal, determinando su estado actual.</p>

    <p>✅ Además, en función a estos resultados se podrá elaborar un programa de entrenamiento y nutrición.</p>

    <P>✅ Esta evaluación distinguirá los siguientes estados:</P>

    <ul>
        <li>Bajo peso</li>
        <li>Peso normal</li>
        <li>Sobrepeso</li>
        <li>Obesidad</li>
    </ul>

    <img src="\src\img\sebastian_img\imc.png">

    <table align="center">
        <tr>
            <td>
                <a href="./test.html">
                    <input type="button" value="INICIAR TEST">
                </a>
            </td>
        </tr>
    </table>
    
</body>
</html>