<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personalidad</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./perso-home.css">
</head>

<body>
    <header>
        <nav class="navbar" style="background-color: purple;">
            <div class="container-fluid">
                <a href="../../index.html">
                    <img src="../../src/img/jhon_img/heartbeat.png" alt="Logo" width="30" height="24" class="">
                </a>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div class="textos">
                <h1>Personalidad</h1>

            </div>
        </section>

        <section class="portafolio">
            <div class="contenedor">
                <section class="galeria">
                    <span class="titulo-img">¿Que es? </span>
                    <div class="fotos">
                        <div style="display: flex; flex-direction: row-reverse;">
                            <div class="texto-img">
                                <span>La impulsividad es un rasgo de la personalidad caracterizado por la reacción
                                    rápida, inesperada y desmedida ante cualquier situación. Se trata de una condición
                                    por la cual la persona no puede controlar los impulsos, las tentaciones o los deseos
                                    que siente y actúan sin tener en cuenta las consecuencias de sus actos.Existen
                                    diferentes tipos de impulsividad:</span>

                            </div>
                            <img src="../../src/img/jhon_img/person1.jpg">
                        </div>

                    </div>
                    <span class="titulo-img">¿Cuáles son los síntomas de la impulsividad?</span>
                    <div class="fotos">
                        <div style="display: flex; flex-direction: row-reverse;">
                            <img src="../../src/img/jhon_img/person2.jpg">
                            <div class="texto-img">

                                <span>Los síntomas específicos varían en función del tipo de impulsividad que afecta a
                                    la persona, pero en cualquier caso, las etapas de la afección son las
                                    siguientes:</span>
                                <ul>
                                    <li> Tensión creciente</li>
                                    <li> Alivio y culpa (puede o no estar presente)</li>
                                    <li>Placer al actuar </li>
                                    <li>Impulso</li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <span class="titulo-img">¿Se puede prevenir? </span>
                    <div class="fotos">
                        <div style="display: flex; flex-direction: row-reverse;">
                            <div class="texto-img">
                                <span>Para prevenir la impulsividad es importante controlar los actos de la persona
                                    afectada por este trastorno. En este sentido, es importante aprender a reaccionar de
                                    forma adecuada en relación a determinados pensamientos, emociones y
                                    sentimientos.</span>
                                <ul>
                                    <li> Terapia cognitivo-conductual</li>
                                    <li> Desensibilización sistemática</li>
                                    <li>Sensibilización oculta </li>
                                    <li> Control de estímulo</li>
                                    <li>Reestructuración cognitiva</li>
                                </ul>
                            </div>
                            <img src="../../src/img/jhon_img/impulsiva.jpg">
                        </div>
                    </div>
                </section>
            </div>
        </section>

        <br>
        <a id="btnTest" href="./test.html">
            <input class="btn btn-primary" type="button" value="Iniciar Test">
        </a>

    </main>
    <footer>

    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>