<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Person</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./perso-test.css">
</head>

<body>
    <header>
        <nav class="navbar" style="background-color: purple;">
            <div class="container-fluid">
                <a href="../../index.html">
                    <img src="../../src/img/jhon_img/heartbeat.png" alt="Logo" width="30" height="24" class="">
                </a>
            </div>
        </nav>
    </header>
    <main>
        <h2>Test Personalidad</h2>

        <div class="contenedor">
            <div class="preg">
                <p>1. Mi tolerancia a la frustración</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p1" id="p11" value="0">
                    <label class="form-check-label" for="p11">Es bastante alta.</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p1" id="p12" value="2">
                    <label class="form-check-label" for="p12">Es nula</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p1" id="p13" value="1">
                    <label class="form-check-label" for="p13">Alcanza un nivel
                        medio dependiendo de las
                        circunstancias.</label>
                </div>
            </div>
            <div class="preg">
                <p>2. En una conversación, cuando se me pasa algo por la cabeza</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p2" id="p21" value="2">
                    <label class="form-check-label" for="p21">Lo digo sin valorar la idoneidad de lo que
                        estoy diciendo</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p2" id="p22" value="0">
                    <label class="form-check-label" for="p22">Valoro o no el sentido o no de decirlo</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p2" id="p23" value="1">
                    <label class="form-check-label" for="p23">Lo digo en algunas ocasiones en las que "casualmente
                        meto la pata"</label>
                </div>
            </div>
            <div class="preg">
                <p>3. Cuando tengo que tomar una decisión</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p3" id="p31" value="0">
                    <label class="form-check-label" for="p31">Lo reflexiono, valorando la mejor alternativa de
                        solución</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p3" id="p32" value="1">
                    <label class="form-check-label" for="p32">Busco algunas alternativas, aunque sin darle muchas
                        vueltas</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p3" id="p33" value="2">
                    <label class="form-check-label" for="p33">Elijo la primera opcion que se me ocurre</label>
                </div>
            </div>
            <div class="preg">
                <p>4. Cuando veo algo en el escaparate que me gusta pero que en realidad no necesito</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p4" id="p41" value="0">
                    <label class="form-check-label" for="p41">No me lo suelo comprar sin al menos valorarlo
                        antes.</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p4" id="p42" value="2">
                    <label class="form-check-label" for="p42">Me lo compro</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p4" id="p43" value="1">
                    <label class="form-check-label" for="p43">Algunas veces lo compro sin pensarlo.</label>
                </div>
            </div>
            <div class="preg">
                <p>5. Cuando me enfado</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p5" id="p51" value="0">
                    <label class="form-check-label" for="p51">Intento no hacer ni decir nada de lo que luego me pueda
                        arrepentir.</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p5" id="p52" value="2">
                    <label class="form-check-label" for="p52">Puedo decir/hacer cosas muy "feas".</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p5" id="p53" value="1">
                    <label class="form-check-label" for="p53">A veces me cuesta controlar mis contestaciones.</label>
                </div>
            </div>
            <div class="preg">
                <p>6. Las experiencias arriesgadas, por ejemplo conducir rápido, etcétera</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p6" id="p61" value="0">
                    <label class="form-check-label" for="p61">No me gustan.</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p6" id="p62" value="1">
                    <label class="form-check-label" for="p62">De vez en cuando vienen bien.</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p6" id="p63" value="2">
                    <label class="form-check-label" for="p63">Me apasionan</label>
                </div>
            </div>
            <div class="preg">
                <p>7. Cuando mis reacciones emocionales son “impulsivas” es porque</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p7" id="p71" value="2">
                    <label class="form-check-label" for="p71">No he podido controlarme</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p7" id="p72" value="1">
                    <label class="form-check-label" for="p72">En algunas ocasiones es porque no he sabido
                        gestionarlas, aunque no es demasiado habitual.</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p7" id="p73" value="0">
                    <label class="form-check-label" for="p73">No suele ocurrir, pero suele ser porque me ha “dado
                        la gana”. </label>
                </div>
            </div>

            <div class="preg">
                8.¿Con qué frecuencia te arrepientes de las decisiones o actos que has llevado a cabo?</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p8" id="p81" value="0">
                    <label class="form-check-label" for="p81">Casi nunca</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p8" id="p82" value="1">
                    <label class="form-check-label" for="p82">Alguna vez que otra</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p8" id="p83" value="2">
                    <label class="form-check-label" for="p83"> Muy a menudo</label>
                </div>
            </div>
            <div class="preg">
                9. Cuando tienes que hacer un examen o una prueba de evaluación escrita</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p9" id="p91" value="1">
                    <label class="form-check-label" for="p91">A veces intento revisar las preguntas antes de
                        comenzar a contestar, pero admito que lo hago pocas veces.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p9" id="p92" value="0">
                    <label class="form-check-label" for="p92">Primero hago una lectura rápida de todas las
                        preguntas y
                        después las contesto.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p9" id="p93" value="2">
                    <label class="form-check-label" for="p93">Me pongo a contestar según me la entregan.</label>
                </div>
            </div>
            <div class="preg">
                10. ¿Eres capaz de romper una relación, dejar un trabajo, etcétera de la “noche a la mañana”?</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p10" id="p111" value="2">
                    <label class="form-check-label" for="p111"> Por supuesto</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p10" id="p112" value="1">
                    <label class="form-check-label" for="p112">Depende de los motivos</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p10" id="p113" value="0">
                    <label class="form-check-label" for="p113">No, pues no quiero arrepentirme después por
                        no haberlo pensado mejor</label>
                </div>
            </div>

            <div class="preg">
                <p>11. En una conversación</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p11" id="p121" value="0">
                    <label class="form-check-label" for="p121">No suelo interrumpir, y espero hasta que la
                        otra
                        persona ha
                        terminado de hablar.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p11" id="p122" value="2">
                    <label class="form-check-label" for="p122"> Me cuesta esperar mi turno para hablar,
                        por lo que
                        interrumpo de forma frecuente.</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p11" id="p123" value="1">
                    <label class="form-check-label" for="p123">No interrumpo a la otra persona, aunque a
                        veces hago “gestitos” de que quiero hablar yo.</label>
                </div>
            </div>

            <div class="preg">
                <p>12. Cuando intento centrarme en una tarea</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p12" id="p131" value="2">
                    <label class="form-check-label" for="p131">Me cuesta mucho, por lo que cambio de tarea
                        constantemente.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p12" id="p132" value="0">
                    <label class="form-check-label" for="p132">No paso a otra hasta que no haya acabado
                        con la
                        primera.</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p12" id="p133" value="1">
                    <label class="form-check-label" for="p133">Me cuesta mucho, pero intento continuar
                        hasta que termino.</label>
                </div>
            </div>
        </div>

        <!-- Button trigger modal -->
        <button id="btnModal" type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#exampleModal" onclick="resultado()">
            Obtener resultado
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Resultado</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="result">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>Devs</p>
    </footer>

    <!--<h2>Resultado</h2>
    <p id="result">rest</p>
    <button onclick="resultado()">Resultado</button>
-->
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="personalidad.js"></script>

</body>

</html>