<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADICCIONES</title>
</head>
<h2>INSOMNIO TEST </h2>
<p> buen porcentaje de peruanos tiene dificultades ocasionales para dormir y en una de cada cinco personas el problema se cronifica. Descubre con el test denominado 'índice de severidad del insomnio' si tu falta de sueño es pasajera.
</p><br>
<img style="align-content: center;" src="../../src/img/insomnio2-kyi--1248x698@abc.jpg" alt="">



<body>
    <table border="1" align="center">
        <tr>
            <td>
                <a href="./testo.html">
                    <input type="button" value="¡COMENZAR TEST!">
                </a>

            </td>
        </tr>
    </table>

</body>

</html>