<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Test de Insomnio</title>
</head>
<body >
    <h2 id="Titulo">Test: Mide el nivel de Insomnio que estas padeciendo</h2>
<div id="contenedor" style="text-align: center;">
    

    <img id="IMAGEN" width="550" src="../../src/img/arthur_img/0slide-insomnio.jpg" alt="">
  
    
    <p id="Parrafo">Un buen porcentaje de peruanos tiene dificultades ocasionales para dormir y en una de cada cinco personas el problema se cronifica. Descubre con el test denominado 'índice de severidad del insomnio' si tu falta de sueño es pasajera.
       
</div>



    <table  align="center">
        <tr>
            <td>
                <a href="./testo.html">
                    <input id="btn-test" class="btn btn-success" type="button" value="¡COMENZAR TEST!">
                </a>

            </td>
        </tr>
    </table>

</body>

</html>