<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test ansiedad</title>
</head>
<a href="../../index.html">
    <input type="button" value="Menú">
</a>

<body>
    <h2> Test: mide tu grado de insomnio    </h2>
    <h3>La un buen porcentaje de peruanos tiene dificultades ocasionales para dormir y en una de cada cinco personas el problema se cronifica. Descubre con el test denominado 'índice de severidad del insomnio' si tu falta de sueño es pasajera.
    </h3>
    <hr>
    <div>
        <p>1. Me cuesta mucho conciliar el sueño: </p>
        <label><input type="radio" name="p1" id="p11" value="0"> Nada</label>
        <label><input type="radio" name="p1" id="p12" value="1"> De forma leve</label>
        <label><input type="radio" name="p1" id="p13" value="2"> Moderadamente</label>
        <label><input type="radio" name="p1" id="p14" value="3"> Mucho</label>
        <label><input type="radio" name="p1" id="p15" value="4"> Muchisimo</label>

        <p>2. Tengo dificultades para permanecer dormido</p>
        <label><input type="radio" name="p2" id="p21" value="0"> Nada</label>
        <label><input type="radio" name="p2" id="p22" value="1"> De forma leve</label>
        <label><input type="radio" name="p2" id="p23" value="2"> Moderadamente</label>
        <label><input type="radio" name="p2" id="p24" value="3"> Mucho</label>
        <label><input type="radio" name="p2" id="p25" value="4"> Muchisimo</label>

        <p>3. Casi siempre me despierto muy temprano</p>
        <label><input type="radio" name="p3" id="p31" value="0"> Nada</label>
        <label><input type="radio" name="p3" id="p32" value="1"> De forma leve</label>
        <label><input type="radio" name="p3" id="p33" value="2"> Moderadamente</label>
        <label><input type="radio" name="p3" id="p34" value="3"> Mucho </label>
        <label><input type="radio" name="p3" id="p35" value="4"> Muchisimo </label>

        <p>4.¿Cuál es tu grado de satisfacción en la actualidad con tu sueño?
        </p>
        <label><input type="radio" name="p4" id="p41" value="0"> Muy Satisfecho</label>
        <label><input type="radio" name="p4" id="p42" value="1"> Satisfecho</label>
        <label><input type="radio" name="p4" id="p43" value="2"> Moderadamente Satisfecho</label>
        <label><input type="radio" name="p4" id="p44" value="3"> Insatisfecho </label>
        <label><input type="radio" name="p4" id="p45" value="4"> Muy Insatisfecho</label>


        <p>5.¿En qué medida consideras que el problema de sueño interfiere con tu funcionamiento diario?: sufro cansancio diurno, me cuesta concentrarme, tengo peor humor….</p>
        <label><input type="radio" name="p5" id="p51" value="0">  Nada</label>
        <label><input type="radio" name="p5" id="p52" value="1"> Un poco</label>
        <label><input type="radio" name="p5" id="p53" value="2"> Algo </label>
        <label><input type="radio" name="p5" id="p54" value="3"> Mucho </label>
        <label><input type="radio" name="p5" id="p55" value="4"> Muchisimo </label>

        <p>6.¿En qué medida crees que los demás se dan cuenta de tu problema de sueño por lo que afecta a tu calidad de vida?.</p>
        <label><input type="radio" name="p6" id="p61" value="0"> Nada </label>
        <label><input type="radio" name="p6" id="p62" value="1"> Un poco</label>
        <label><input type="radio" name="p6" id="p63" value="2"> Algo </label>
        <label><input type="radio" name="p6" id="p64" value="3"> Mucho</label>
        <label><input type="radio" name="p6" id="p65" value="4"> Muchisimo </label>

        <!---------------------------------------SECCION2----------------------->
        <p>7.¿Reconoces estar preocupado por tu actual problema de sueño? </p>
        <label><input type="radio" name="p7" id="p71" value="0"> Nada</label>
        <label><input type="radio" name="p7" id="p72" value="1"> Un poco</label>
        <label><input type="radio" name="p7" id="p73" value="2"> Algo </label>
        <label><input type="radio" name="p7" id="p74" value="3"> Mucho</label>
        <label><input type="radio" name="p7" id="p75" value="4"> Muchisimo </label>

        

        
        <h3>Entre 0 y 7 = se trata de un insomnio puntual y no problemático.</h3>
        <h3>Entre 8-14 = insomnio subclínico (existe pero los síntomas aún no son determinantes).</h3>   
        <h3>Entre 15-21 = insomnio clínico (moderado).</h3> 
        <h3>Entre 22-28 = insomnio clínico (grave).</h3>

        <h2>Resultado</h2>
       
        <p id="result">RESULTADO</p>
        <button onclick="resultado()">Resultado</button>

    </div>


    <script src="Insomnio.js"></script>
</body>

</html>