<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IQ</title>
    <link rel="shortcut icon" href="./../../src/img/eduardo_img/favicon.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<h2>Coeficiente Intelectual</h2>
<p>Es la ponderación que se le asigna a
    un ser humano a través de un test, por lo tanto el CI es la medida que determina a la inteligencia a
    través de un número en donde se puede establecer un rango dentro de lo normal, alto o
    deficiencia mental en la evaluación de la inteligencia, para obtener este resultado se inicia con la
    medida de la edad mental entre la edad cronológica; esta se debe dividir entre una puntuación de
    cien, esto será realizado a través de un diseño de ejercicios para resolución de problemas.
</p><br>
<div style="text-align: center;">

    <img width="500" src="../../src/img/eduardo_img/iq.jpg" alt="">
</div>

<body>
    <a href="./test.html">
        <button type="button" class="btn btn-primary btn-lg btn-block">Iniciar Test</button>
    </a>
</body>

</html>